{% extends "FrontBundle:Common:layout.html.twig" %}
{% block title %}{{ 'menu.home'|trans({}, 'messages') }}{% endblock %}
{% block content %}
    {{ form_start(form, {'attr': { 'v-on:submit.prevent': ''}}) }}
    <div class="row">
        <div class="col-sm-3">
            {{ form_widget(form.number, {'attr': {'type': 'number', 'min' : limitService.getMinValue, 'max' : limitService.getMaxValue}}) }}
        </div>
        <div class="col-sm-3">
            {{ form_widget(form.save, {'attr': {' v-on:click': 'handleResponse'}}) }}
        </div>
    </div>    
    {{ form_end(form) }}
{% endblock %}
{% block javascripts_body %}
    <script>
        $( document ).ready(function() {
            var formSave = new Vue({
                el: '#form_save',
                data: {
                  name: 'Vue.js'
                },
                // define methods under the `methods` object
                methods: {
                  handleResponse: function (event) {
                    if (event){
                        event.preventDefault()
                    }
                    //ajax
                  }
                }
              })
        });
    </script>
{% endblock %}